
.goog-logo-link,.goog-te-gadget span{

    display:none !important;
    
    }
    
    .goog-te-gadget{
    
    color:transparent!important;
    font-size :0;
    
    }
    .goog-te-banner-frame{
     display:none !important;
     }
     .goog-te-gadget img{
        display:none !important;
    }
    body > .skiptranslate {
        display: none;
    }
    body {
        top: 0px !important;
    }
    .google_translate_element{
        padding: 10px;
        display: center;
    }
/* Style for the language switcher container */
#language-switcher-container {
    position: relative;
    display: none; /* Initially hide the container */
    margin-right: 20px; /* Adjust as needed */
}

/* Style for the language switcher button */


/* Style for the Google Translate button */
.goog-te-gadget {
    white-space: nowrap;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7a44b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 8.4);
    --color-white: #fff;
    --color-light: #ffffffb3;
    --color-black: #000;
    /* --color-bg: #1f2641; */
    --color-bg: #f7f9fa;
    /* --color-bgl: #2e3267; */
    /* --color-bg2: #424898; */
    --container-width-1g: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}

body {
    /* color: var(--color-white); */
    color: var(--color-black);
    background: white
}



section {
    padding: 5%;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

p {
    letter-spacing: .5px;
    font-size: 18px;
}

h1,
h2,
h3,

h5 {
    line-height: 1.2;
    letter-spacing: 0.5px;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}



a {
    color: var(--color-black);
    font-family: 'Rajdhani', sans-serif;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    color: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-black);
    border-color: var(--color-black);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}
 

.joinBtn {
    background: var(--color-danger);
    padding: 15px;
    border-radius: 15px;
    color: var(--color-white);
}

.joinBtn:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

i {
    color: var(--color-black);
}

::-webkit-scrollbar {
    display: none;
}
